/*--------------------------------
//  Global variables
---------------------------------*/

$line-height: 1.6;

$control-height: 1em;
$control-width: 1em;

$img-path : "../img/";
$video-path: "video/";