/* Base Styles */

body {
  background-color: map-get($color-scheme, main-background);
  height: 100vh;
}

video {
  height: 100%;
  width: 100%;
  &::-webkit-media-controls {
    display:none !important;
  }
}



