/*  Caption Styles*/


#captions {
  text-align: center;
  height: auto;
  width: auto;
  font-size: $font-size--small; 
  font-weight: $font-weight--bold;
  color: map-get($color-scheme, transcript-text);
  border-radius: 5px;
  background-color: map-get($color-scheme, caption-div); 
  @include mq(medium) {
    font-size: $font-size--large;
  }
}

.toggle-hidden {
  display: none;
}
