/*  Caption Styles*/


#captions {
  position: absolute;
  align-content: center;
  align-items:center;
  height: auto;
  left: 10%;
  width: 75%;
  bottom:  36px;
  font-size: $font-size--small; 
  font-weight: $font-weight--bold;
  text-align: center;
  color: map-get($color-scheme, transcript-text);
  border-radius: 5px;
  background-color: map-get($color-scheme, caption-div); 
  @include mq(medium) {
    left: 25%;
    bottom: 46px;
    width: 50%;
    font-size: $font-size--large;
  }
}

.toggle-hidden {
  display: none;
}
