/* Extends */

%control {
  height: $control-height;
  width: $control-width;
  color: map-get($color-scheme, $rose-bud);
  background-size: contain;
}

%captions-sm-screen {
  height: 40px;
  width: 80%;
  left: 10%;
  bottom:  52px;
  font-size: $font-size--small;
}
