/* CSS Document */

.video-container {
  position: relative;
  margin: 0 auto;
  left: 0;
  top: 0;
  width: 100%; 
}



#buttonbar {
  display: none;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 5px; 
}

.caption {
  margin: 0 auto;
  width: 80%; 
}